<div class="container-fluid">
	<div class="jumbotron"><h1><%= @tag.phrase %> Tweets</h1></div>

	<div class="row">
		<div class="col-2">
		</div>
		<div class="col-8">
			

			<% @tag.tweets.order(created_at: :desc).each do |tweet| %>
				<div class="card">
					<div class="card-body">
						<div class="card-title"><%= link_to tweet.user.username, show_user_path(id:tweet.user_id) %></div>
						<div class="card-text"><%= tweet.message.html_safe %> <br><br></div>	
						<div class="card-footer text-muted text-right">Tweeted <%= time_ago_in_words(tweet.created_at)%> ago.</div>
						
					</div>
				</div>

				<br><br>
			<% end %>
			
		</div>
		<div class="col-2">
		</div>
	</div>
</div>
