@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

.feed-side{
	
	border: 1px solid grey;
	padding: 10px;
	text-align: center;
	font-size: 38;

}

.nav-item{
	
	padding: 0 10px 0 10px;
	
}